.btn {
  border-radius: 8px;
  height: 42px;
  overflow: hidden;
}

.btn .form-atom-value {
  align-items: center;
  display: inline-flex;
  position: relative;
  top: 11px;
}

.btn .div-2 {
  font-family: "Nunito", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.btn.praimery {
  background-color: #b268f3;
  /* border: 1px solid; */
  border-color: #cea0f7;
  width: 320px;
}

.btn.secondary {
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #ffffff1a;
  width: 144px;
}

.btn.praimery-hover {
  background-color: #b268f3;
  box-shadow: 4px 4px 4px #b167f333, -2px -2px 4px #b268f333;
  width: 320px;
}

.btn.praimery .form-atom-value {
  left: 132px;
}

.btn.secondary .form-atom-value {
  left: 43px;
}

.btn.praimery-hover .form-atom-value {
  left: 132px;
}

.btn.praimery .div-2 {
  color: #ffffff;
}

.btn.secondary .div-2 {
  color: #615f61;
}

.btn.praimery-hover .div-2 {
  color: #ffffff;
}
