.team-stats {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.team-stats .div {
  background-color: #ffffff;
  height: 1873px;
  position: relative;
  width: 1440px;
}

.team-stats .copy {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--variable-collection-spacing-s);
  left: 74px;
  position: absolute;
  top: 164px;
  width: 1295px;
}

.team-stats .text-wrapper {
  align-self: stretch;
  color: #000000;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  margin-top: -1px;
  position: relative;
}

.team-stats .our-platform-offers {
  align-self: stretch;
  color: #828282;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: relative;
}

.team-stats .p {
  color: #828282;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  height: 36px;
  left: 74px;
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: absolute;
  text-align: center;
  top: 916px;
  width: 1295px;
}

.team-stats .text-wrapper-2 {
  color: #828282;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  height: 36px;
  left: 72px;
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: absolute;
  text-align: center;
  top: 1547px;
  width: 430px;
}

.team-stats .text-wrapper-3 {
  color: #828282;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  height: 36px;
  left: 941px;
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: absolute;
  text-align: center;
  top: 1547px;
  width: 428px;
}

.team-stats .navigation {
  background-color: #ffffff;
  height: 164px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.team-stats .navbar {
  align-items: center;
  display: flex;
  gap: 34px;
  justify-content: flex-end;
  left: 607px;
  position: absolute;
  top: 56px;
  width: 762px;
}

.team-stats .text-wrapper-4 {
  color: #000000;
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.team-stats .button {
  all: unset;
  align-items: center;
  background-color: #e97462;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 14px 24px;
  position: relative;
}

.team-stats .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.team-stats .frame {
  align-items: center;
  display: flex;
  gap: 361px;
  height: 56px;
  position: relative;
  width: 120px;
}

.team-stats .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.team-stats .notif {
  background-image: url(../../../static/TeamStats/img/iconly-bold-notification.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}

.team-stats .img {
  height: 56px;
  position: relative;
  width: 56px;
}

.team-stats .group {
  height: 56px;
}

.team-stats .overlap-group {
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 56px;
}

.team-stats .pexels-pixabay {
  height: 48px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 48px;
}

.team-stats .ellipse {
  border: 4px solid;
  border-color: #e97462;
  border-radius: 28px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.team-stats .iconly-light-outline {
  height: 24px;
  position: relative;
  width: 24px;
}

.team-stats .group-2 {
  height: 107px;
  left: 74px;
  position: absolute;
  top: 32px;
  width: 341px;
}

.team-stats .text-wrapper-6 {
  color: #000000;
  font-family: "Inknut Antiqua", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  left: 112px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.team-stats .image {
  height: 107px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 112px;
}

.team-stats .image-2 {
  height: 483px;
  left: 299px;
  position: absolute;
  top: 401px;
  width: 1070px;
}

.team-stats .football-position {
  height: 548px;
  left: 74px;
  position: absolute;
  top: 986px;
  width: 428px;
}

.team-stats .football-position-2 {
  height: 548px;
  left: 941px;
  position: absolute;
  top: 986px;
  width: 428px;
}

.team-stats .arrow {
  height: 37px;
  left: 572px;
  position: absolute;
  top: 1242px;
  width: 302px;
}

.team-stats .element-tab-list {
  align-items: flex-start;
  background-color: #1c2e3c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 483px;
  left: 74px;
  padding: 8px;
  position: absolute;
  top: 401px;
  width: 206px;
}

.team-stats .div-wrapper {
  align-items: center;
  background-color: #1b93c6;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 50px;
  display: flex;
  gap: 8px;
  height: 33px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 190px;
}

.team-stats .text-wrapper-7 {
  color: #ffffff;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  margin-bottom: -1.5px;
  margin-top: -5.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.team-stats .frame-3 {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
  display: flex;
  gap: 8px;
  height: 33px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 190px;
}

.team-stats .text-wrapper-8 {
  color: #000000;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  margin-bottom: -2.5px;
  margin-top: -4.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.team-stats .navigation-footer {
  background-color: #ffffff;
  height: 264px;
  left: 0;
  position: absolute;
  top: 1609px;
  width: 1440px;
}

.team-stats .items {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 608px;
  position: absolute;
  top: 12px;
  width: 187px;
}

.team-stats .text-wrapper-9 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
}

.team-stats .text-wrapper-10 {
  align-self: stretch;
  color: #444444;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  position: relative;
}

.team-stats .contact-us {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 90px;
  left: 80px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 20px;
}

.team-stats .span {
  font-weight: 700;
}

.team-stats .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
}

.team-stats .group-3 {
  height: 40px;
  left: 80px;
  position: absolute;
  top: 176px;
  width: 175px;
}

.team-stats .icon {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.team-stats .icon-2 {
  height: 33px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 33px;
}

.team-stats .icon-wrapper {
  height: 40px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 40px;
}

.team-stats .icon-3 {
  height: 30px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.team-stats .img-wrapper {
  height: 40px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 40px;
}

.team-stats .icon-4 {
  height: 23px;
  left: 3px;
  position: absolute;
  top: 8px;
  width: 33px;
}

.team-stats .icon-5 {
  height: 40px;
  left: 135px;
  position: absolute;
  top: 0;
  width: 40px;
}

.team-stats .divider {
  height: 1px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1280px;
}

.team-stats .text-wrapper-12 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 36px;
  left: 80px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}

.team-stats .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 600;
  height: 23px;
  left: 874px;
  letter-spacing: 0;
  line-height: 22.5px;
  position: absolute;
  top: 109px;
  white-space: nowrap;
}

.team-stats .https-www-freepik {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1583px;
}
