.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.dashboard-item-chart {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px; /* Adjust height for charts */
}

.dashboard-item {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* Adjust height for charts */
}

.live-video-container {
    text-align: center;
    margin: 20px 0;
}

.live-video {
    width:30%;
    max-width: 800px;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}
