.image_28 {
  position: absolute;
  width: 1900px;
  left: 0px;
  height: 850px;
  top: 0px;
}
.vector_1 {
  position: absolute;
  width: 23px;
  left: 1372.58px;
  height: 21px;
  top: 25.25px;
}
.vector_2 {
  position: absolute;
  width: 57px;
  left: 1370.48px;
  height: 8px;
  top: 26.02px;
}
.vector_3 {
  position: absolute;
  width: 17px;
  left: 1414.65px;
  height: 13px;
  top: 27.64px;
}
.vector_4 {
  position: absolute;
  width: 89px;
  left: 1496.37px;
  height: 19px;
  top: 22.01px;
}
.vector_5 {
  position: absolute;
  width: 9px;
  left: 1580.36px;
  height: 4px;
  top: 27.64px;
}
.vector_6 {
  position: absolute;
  width: 752px;
  left: 234.24px;
  height: 32px;
  top: 19.27px;
}
.vector_7 {
  position: absolute;
  width: 393px;
  left: 596.07px;
  height: 28px;
  top: 13.14px;
}
.whatsAppImage_2024_05_11At_15_44_3 {
  position: absolute;
  width: 196px;
  left: 19px;
  height: 165px;
  top: 19px;
  object-fit: cover;
}
.signInSignUp {
  position: absolute;
  left: 1353px;
  top: 17px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 700;
}
.aboutDashboardEventManagementResourcesAndSupportCrowdStatistics {
  position: absolute;
  left: 260px;
  top: 19px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
}
.vector_8 {
  position: absolute;
  width: 28px;
  left: 390.09px;
  height: 1px;
  top: 52.7px;
}
.vector_9 {
  position: absolute;
  width: 134px;
  left: 389.34px;
  height: 3px;
  top: 52.58px;
}
.image_29 {
  position: absolute;
  width: 722px;
  left: 1172px;
  height: 481px;
  top: 102px;
  object-fit: cover;
}
.rectangle_13 {
  position: absolute;
  width: 116px;
  left: 338px;
  height: 8px;
  top: 51px;
  background-color: rgb(217, 217, 217);
}
.rectangle_14 {
  position: absolute;
  width: 1640px;
  left: 260px;
  height: 748px;
  top: 102px;
  background-color: rgb(0, 0, 0);
}
.rectangle_14Div {
  position: absolute;
  width: 99px;
  left: 1206px;
  height: 8px;
  top: 151px;
  background-color: rgb(217, 217, 217);
}
.marketSupermarketRailwayStationMallsStadiumAirport {
  position: absolute;
  left: calc(50% - 690px);
  top: 121px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
}
.image_31 {
  position: absolute;
  width: 650px;
  left: 260px;
  height: 637px;
  top: 193px;
  object-fit: cover;
}
.text450PeopleIdentifiedEntrance {
  position: absolute;
  left: 1299px;
  top: 178px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.image_42 {
  position: absolute;
  width: 453px;
  left: 1256px;
  height: 363px;
  top: 497px;
  object-fit: cover;
}
.frame_113Component {
  position: relative;
  width: 100%;
  height: 860px;
  font-family: Inter;
}
