.frame_98 {
  position: absolute;
  width: 1900px;
  left: 0px;
  height: 931px;
  top: 0px;
}
.image_28 {
  position: absolute;
  width: 1900px;
  left: 16px;
  height: 850px;
  top: 41px;
  object-fit: cover;
}
.vector_1 {
  position: absolute;
  width: 23px;
  left: 1388.58px;
  height: 21px;
  top: 66.25px;
}
.vector_2 {
  position: absolute;
  width: 57px;
  left: 1386.48px;
  height: 8px;
  top: 67.02px;
}
.vector_3 {
  position: absolute;
  width: 17px;
  left: 1430.65px;
  height: 13px;
  top: 68.64px;
}
.vector_4 {
  position: absolute;
  width: 89px;
  left: 1512.37px;
  height: 19px;
  top: 63.01px;
}
.vector_5 {
  position: absolute;
  width: 9px;
  left: 1596.36px;
  height: 4px;
  top: 68.64px;
}
.vector_6 {
  position: absolute;
  width: 752px;
  left: 250.24px;
  height: 32px;
  top: 60.27px;
}
.vector_7 {
  position: absolute;
  width: 393px;
  left: 612.07px;
  height: 28px;
  top: 54.15px;
}
.whatsAppImage_2024_05_11At_15_44_3 {
  position: absolute;
  width: 196px;
  left: 35px;
  height: 165px;
  top: 60px;
  object-fit: cover;
}
.signInSignUp {
  position: absolute;
  left: 1369px;
  top: 58px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 700;
}
.aboutDashboardEventManagementResourcesAndSupportCrowdStatistics {
  position: absolute;
  left: 276px;
  top: 60px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
}
.vector_8 {
  position: absolute;
  width: 28px;
  left: 406.09px;
  height: 1px;
  top: 93.7px;
}
.vector_9 {
  position: absolute;
  width: 134px;
  left: 405.34px;
  height: 3px;
  top: 93.58px;
}
.image_29 {
  position: absolute;
  width: 722px;
  left: 1188px;
  height: 481px;
  top: 143px;
}
.rectangle_13 {
  position: absolute;
  width: 181px;
  left: 958px;
  height: 8px;
  top: 88px;
  background-color: rgb(217, 217, 217);
}
.group_36 {
}
.group_43 {
}
.group_46 {
}
.image_41 {
  position: absolute;
  width: 1557px;
  left: 276px;
  height: 766px;
  top: 125px;
  object-fit: cover;
}
.frame_124Component {
  position: relative;
  width: 100%;
  height: 931px;
  font-family: Inter;
}
